@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
@media only screen and (max-width : 1172px)
  .series
    padding-right: 55%
@media only screen and (max-width : 1114px)
  .info-bg
    background-position-x: 50px
/* Medium Devices, Desktops */
@media only screen and (max-width : 1049px)
  .info-bg
    background-position: -67px 303px
@media only screen and (max-width : 991px)
  .inner-bg
    background-position: center 50px
  .info-bg
    background-position: center 20px
    padding-top: 553px
  .footer-text
    border: 2px solid #ccc
    padding: 20px
    margin-bottom: 20px
  .footer-text .btn-red
    margin-bottom: 0
  .footer-text h2
    padding-top: 0
  .forma
    padding-bottom: 45px
    background-position: center 50px
  .privilege p
    padding-top: 0
    font-size: 20px
    text-align: center
  .form-otp form
    margin: auto
    margin-top: 35px
  .footer-info
    text-align: center
    background-position: center bottom
  .info-item
    text-align: center
    padding-left: 0
  .info-text .info-item:nth-child(3) p
    padding: 0 10px
  .info-text
    background-position: center bottom
  .info-item p
    text-align: center
  .forma-text
    text-align: center
    margin-top: 530px
  .steps
    background-position: center 70px
  .steps-zag
    font-size: 25px
  .steps-info
    padding-left: 25px
    padding-top: 95%
  .series
    p
      width: 100%
  .steps-info
    text-align: center
    padding-left: 0
  .series
    padding-right: 0

@media only screen and (max-width : 761px)
    .footer-logo
      float: none !important
      width: 144px
      height: 97px
      padding-left: 0px
      margin: 0 auto
    .privilege
      float: none !important
      a
        display: block
        text-align: center
        padding: 20px 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 620px)
	.forma
      background-position: center 20%
      background-size: contain
@media only screen and (max-width : 593px)
  .info-bg
    background-size: 561px
    padding-top: 382px
@media only screen and (max-width : 570px)
    .logo
      padding-left: 0
    .popup-button
      padding-right: 0
/* Custom, iPhone Retina */
@media only screen and (max-width : 495px)
  .inner-bg
    background-size: 100%
@media only screen and (max-width : 443px)
  .form-mp .allert span
    left: auto
    right: 36px

@media only screen and (max-width : 428px)
  .logo
    padding-left: 0
  .popup-button
    padding-right: 0
  .info-bg
    background-position: -59px 20px
  .mfp-close
    right: 0
@media only screen and (max-width : 409px)
  .forma
    background-size: 374px
    background-position: left 5%
  .forma-text
    margin-top: 306px
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .popup-button
    padding: 38px 0px 0 0
  .footer-info
    background-position: -145px bottom


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

