@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here




.check
  background-color: #f8f7f7
  text-align: center
  padding-top: 66px
  font-size: 18px
  p
    padding-left: 62px
    padding-top: 4px
    line-height: 22px
  img
    padding-top: 75px
    padding-bottom: 24px
  button
    transition: 1s
    border-radius: 25px
    font-family: ProximaBold
    border: none
    background-color: #e42a1f
    color: #fff
    line-height: 18px
    font-weight: bold
    padding: 8px 42px
    margin-top: 81px
    margin-bottom: 76px
    &:hover
      background-color: #bd1b11
.title-check
  font-size: 30px
  font-family: ProximaBold

.steps
  background-image: url("../img/baner.png")
  background-repeat: no-repeat
  background-position: right 150px

.steps-info
  padding-left: 129px
.steps-zag
  font-size: 30px
  font-family: ProximaBold
  line-height: 30px
  padding-top: 55px
  padding-bottom: 56px

.series
  font-size: 18px
  padding-bottom: 25px
  p
    display: inline-block
    width: 520px
    vertical-align: top
    line-height: 20px
  strong
    color: #e42a1f




.footer-info
  background-color: #f8f7f7
  position: relative
  background-image: url("../img/man1.png")
  background-repeat: no-repeat
  background-position: 140px 257px
  margin-top: 50px

.footer-text
  h2
    padding-top: 147px
    padding-bottom: 32px
    font-size: 24px
    font-family: ProximaBold
  p
    padding-bottom: 30px
    font-size: 18px
  button
    background-color: #e42a1f
    border-radius: 25px
    text-align: center
    color: #ffffff
    line-height: 18px
    font-size: 18px
    padding-top: 16px
    padding-bottom: 16px
    padding-left: 56px
    padding-right: 56px
    border: none
    margin-top: 15px
    font-weight: bold
    margin-bottom: 155px
    font-family: ProximaBold
    &:hover
      background-color: #bd1b11





.footer-info:after
  bottom: 100%
  left: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none


.footer-info:after
  border-color: rgba(136, 183, 213, 0)
  border-bottom-color: #f8f7f7
  border-width: 70px
  margin-left: -70px
  border-bottom-width: 30px



.footer-black
  background-color: #191919
  position: relative

.footer-logo
  padding-top: 28px
  padding-left: 100px
  padding-bottom: 27px

.privilege
  a
    display: inline-block
    padding-left: 30px
    padding-top: 15px
    color: #3b3b3b
    padding-top: 38px



@import "media"